<% if current_user.name == '刘麟' %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">问题单类别管理</h3>
  </div>
  <div class="panel-body">
      <%= form_for :wot,:url => {:action => 'one_create'} do |f| %>
        <div class="form-group col-sm-12">
            <label for="" class="col-sm-1 control-label text-right">名称</label>
            <div class="col-sm-3">
                <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="col-sm-3">
                <%= f.submit "创建", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
      <div class="col-sm-6">
          <table class="table table-bordered table-condensed">
            <thead>
                <th class="col-sm-4">
                    主类
                </th>
                <th>
                    操作
                </th>
            </thead>
            <tbody>
                <% @wots.each do |wot| %>
                    <tr>
                        <%= form_for :wot,:url => {:action => 'one_update',:id => wot.id}  do |f| %>
                        <td>
                            <%= f.text_field :name,:value => wot.name, class: "form-control" %>
                        </td>
                        <td>
                            <%= f.submit "修改", class: "btn btn-primary" %>
                            <%= link_to "查看", {:action => 'dictionaries_work_one_type',:id => wot.id}, class: "btn btn-primary" %>
                            <%= link_to "删除", {:action => 'one_destroy', :id => wot.id }, class: "btn btn-danger", data: { confirm: "是否确定删除?" } %>
                        </td>
                        <% end %>
                    </tr>

                <% end %>
            </tbody>
          </table>
          <%= will_paginate @wots,:previous_label => "上一页",:next_label => "下一页" %>
      </div>
  </div>
</div>

<% else %>
    <div class="alert alert-danger">
        非系统管理员，无权操作本页面
    </div>
<% end %>
