<h1>demo</h1>
<%= form_tag :action => 'showdemo' do %>
<%= text_field :question, :a, class: "form-control" %><br>
<%= text_field :question, :b, class: "form-control" %><br>
<%= text_field :question, :c, class: "form-control" %><br>



<%= submit_tag "提交", class: "btn btn-primary" %>

<% end %>
