<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">所有问题</h3>
  </div>
  <div class="panel-body">
      <table class="table">
          <thead>
              <th>
                  日期
              </th>
              <th>
                  受理人
              </th>
              <th>
                  处理人
              </th>
              <th>
                  发生地点
              </th>
              <th>
                  工作类别
              </th>
              <th>
                  处理状态
              </th>
              <th>
                  问题描述
              </th>
              <th>
                  处理结果
              </th>
          </thead>
          <tbody>
              <% @work_sheets.each do |sheet| %>
                <tr>
                    <td style="width:11%">
                        <%= sheet.work_datetime.strftime("%y-%m-%d %H:%M") %>
                    </td>
                    <td style="width:6%">
                        <%= sheet.username %>
                    </td>
                    <td style="width:6%">
                        <%= sheet.user.name%>
                    </td>
                    <td style="width:7%">
                        <%= sheet.work_place %>
                    </td>
                    <td style="width:7%">
                        <%= sheet.work_type %>
                    </td>
                    <td style="width:7%">
                        <%= sheet.work_status %>
                    </td>
                    <td style="width:28%">
                        <%= truncate sheet.work_description, length: 100 %>
                    </td>
                    <td>
                        <%= truncate sheet.work_content, length: 100 %>
                    </td>
                </tr>
              <% end %>
          </tbody>
      </table>
      <%= will_paginate @work_sheets,:previous_label => "上一页",:next_label => "下一页" %>
  </div>
</div>
