<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">文件下载</h3>
    </div>
    <div class="panel-body">
        <%= form_tag '/reports/files_download', method: :get do %>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">开始时间</label>
                <%= date_select :date,:p_begin_date, class: "form-control",:use_month_numbers => true,default: 1.month.ago %>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">结束时间</label>
                <%= date_select :date, :p_end_date, class: "form-control",:use_month_numbers => true%>
            </div>
        </div>
        <div class="col-sm-3">
            <%= select_tag :all,options_for_select(["个人","所有"]),:class => 'form-control' %>
        </div>
        <div class="col-sm-3">
            <%= select_tag :type,options_for_select(["问题单下载",'问题分析下载']),:class => 'form-control' %>
        </div>
        <div class="col-sm-3">
            <%= submit_tag "下载", class: "btn btn-primary btn-block",:onclick => "showMsg('文件下载中')" %>
        </div>
        <% end %>
    </div>
</div>
