<!DOCTYPE html>
<html>
    <head>
        <title>Bgdev</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <script src="http://cdn.bootcss.com/highcharts/4.1.8/highcharts.js"></script>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render :partial => "shared/layout/header" %>
        <div class="container" id="container">

            <%= render :partial => "shared/layout/main" %>

        </div>
        <%= render :partial => "shared/layout/footer" %>
        <%= render :partial => "shared/layout/message" %>

    </body>
</html>
